{% extends "studentApp/base.html" %}
  
    {% block content %}
    <style>
        h1,h3{
            text-align: left;
            padding: 10px;
        }
    </style>
    <h1>About us</h1>
    <div class = "row">
        <div class = "col-md-8">
            <section>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.</p>
            </section>

            <section>
                <h3> Core Values</h3>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.</p>
                <button type="button" class="btn btn-info btn-sm">Discover more</button>
            </section>
            <section>
                <h3>Campus Support</h3>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.</p>
            </section>
            <section>
            <h3> Facility</h3>
                <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis eleifend, enim at consequat consequat, nibh lectus euismod magna, at sodales arcu odio a est. Duis nec eros id turpis congue laoreet sed in nisi. Etiam at efficitur enim. Praesent accumsan sed magna eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.</p>
            </section>

        </div>
        <div class = "col-md-4" style="background-color: rgb(214, 211, 211);">
            <h3>News</h3>
            <p>Vivamus laoreet massa eu leo commodo lacinia. Phasellus accumsan posuere sapien non congue. Duis eleifend,</p>
            <h3>Hallamversity Tales</h3>
            <p>  Praesent accumsan sed magna eget consectetur. Donec mi nisl, ultricies vel condimentum in, elementum sit amet diam. Donec bibendum quis sapien eu euismod. Nunc sit amet libero malesuada, commodo tellus sed, varius nibh.</p>
            
        </div>
    </div>
        {% endblock content %}