{% extends "studentApp/base.html" %}
  
    {% block content %}
        <h1>Enquiries Reported</h1>
        {% for message in messages %}
            <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ message.author.profile.image.url }}"/>
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ message.author.profile }}</a>
                        <small class="text-muted">{{ message.date_submitted }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'messageEnquiry_detail' message.id %}">{{ message }}</a></h2>
                    <p class="article-content">{{ message.subject }}</p>
                </div>
            </article>

        {% endfor %}
    {%endblock content%}
